@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world! hello, Maeva! Hello, everyone</h1>

Welcome to your new BLAZOR app, welcome to the small project on the cicd course

<SurveyPrompt Title="How is Blazor working for you?" />
